.table-container {
  flex: 1;
  background-color: darkgrey;
  overflow: hidden;
}

.chart-card {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* >= md */
@media (min-width: 768px) {
  .h-md-100 {
    height: 100%;
  }
}
