.table-container {
  flex: 1;
  background-color: darkgrey;
  overflow: hidden;
}

.chart-card {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.urgency-badge {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.status-badge {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}


/* >= md */
@media (min-width: 768px) {
  .h-md-100 {
    height: 100%;
  }
}
