.page-content {
  position: relative;
  /* 100% - navbar height */
  min-height: calc(100% - 56px);
  display: flex;
  background-color: #f5fbff;
}

.page-content:has(.dashboard) {
  height: calc(100% - 56px);
}
